body{
    height: 3000px;
    background-color: rgb(255, 255, 255);
    font-family: Arial, Helvetica, sans-serif;
    position: relative;
    
    
    
}
*{
    margin: 0px;
    padding: 0px;
}
/* //////////////////////////////////*/



.headr{
    height: 80px;
    
    width: 100%;
    background-color: black;
    opacity: 0.8;
    position: fixed;
    
    z-index: 3;
    
    
    text-align: center;

    
}
.im1{
    width: 50px;
    height: 50px;
    margin-left: 100px;
    float: left;
    margin-top: 15px;
    border: 5px solid gray;
    border-radius: 8px;

    

}

.uo1{
    color: rgb(219, 219, 233);

    font-size: 40px;
    float: right;
    margin-right: 120px;
    margin-top: 20px;
    
    



}
.uo2{
margin-right: 50px;
    list-style: none;
    position: relative;
    text-decoration:none ;
    
}
.uo2 .il{
    text-decoration: none;
    list-style: none;
    position: absolute;

}
.uo2  a{
    text-decoration: none;
    color: red;
}




.home{
    height: 100vh;
    background-image: url(img/تنزيل\ \(1\).jpg);
    position: relative;
    
    text-align: center;
    

    
    

}
.uo2  a:hover{
    color: blue;
    list-style: none;
    
    

}
.hom1{
    width: 40%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50% , -50%);
}
.over2{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: black;
    opacity: 0.6;
    width: 40%;
}
.over1{
    color: aliceblue;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);

}
.titl1{
    color: aliceblue;
    font-size: 80px;
}
.pu1{
    margin-bottom: 20px;
    margin-top: 20px;
    font-size: 20px;
    color: blanchedalmond;
}
.bt1{
    width: 150px;
    padding: 15px 0px;
    border-radius: 10px;
    color: black;
    cursor: pointer;
    font-size: 17px;

}
.bt2{
     width: 150px;
    padding: 15px 0px;
    border-radius: 10px;
    background-color: blue;
    cursor: pointer;
    font-size: 17px;
}
.pt1:hover{
    opacity: 0.1;
}
.bt2:hover{
    color: rgb(206, 206, 206);
    background-color: rgb(231, 8, 8);
    
}

.bt1:focus{
    background-color: blue;
}








.contanr{
    width: 80%;
    height: 900px;
    margin: auto;
    margin-top: 200px;
    
    overflow: auto;
    
position: relative;
    
    
    
}
.tm1{
    width: 300px;
    height:300px;
    border-radius: 100px;
    
    
    position: absolute;
    
    position: relative;
    text-align: center;
    
    display: block;
    padding: 30px 50px;
    line-height: 10px;
    top: 100px;
    float: left;
    
}
.ss1{
    
    line-height: 5px;
    
}
















.a1{
    width: 40px;
    height: 40px;
    display: block;
    margin-left: auto;
    text-align: center;
    position: relative;
    background-color: aqua;
    
    
    
}
.a1,.i{
    margin-top: 40px;
    line-height: 40px;
    background-color: aqua;
    
    
    
    
}
.sp1{
    
    display: block;
    text-align: center;
}
.tm1::after{
    content: "";
    position: absolute;
    border: 20px solid gray;
    border-radius: 20px;

    width: 100%;
    height: 0;
    top: 0;
    left: 0;
    opacity: 0;
}
.tm1:hover::after{
    width: 100%;
    height: 100%;
    background-color: black;
    opacity: 0.7;
    transition: 2s;

}



    

    


.ooo{
    background-color: blue;
    width: 200px;
    height: 200px;
    border: 20px solid gray;
    border-radius: 30px;
    font-size: 50px;
    color: red;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.cc{
    background-color: black;
}


